<p>
  Możesz zresetować hasło na
  <%= link_to "tej stronie resetowania hasła", edit_password_url(@user.password_reset_token) %>.

  Ten link wygaśnie za <%= distance_of_time_in_words(0, @user.password_reset_token_expires_in) %>.
</p>
